/* body {
	background-image: url("../images/[animepaper.net]wallpaper-standard-anime-princess-mononoke-forest-spirit-169334-sjade1-preview-65a9f3e4.jpg");
	background-size: cover;
	background-attachment: fixed;
} */
.head {
  border-bottom-style: solid;
  border-color: #cccccc;
  border-width: 5px;
  text-align: center;
  color: rgb(247, 211, 217);;
  font-family: "Georgia", Times, Times New Roman, serif;
  background-color: rgb(247, 221, 225);;
  width: 100%;
  padding-top: 8px;
  position: absolute;
  top: 0;
 margin-bottom: 250px;
}
#title {
  background-color: rgb(189, 129, 189);
  display: inline;
  padding: 5px;
  padding-top: 8px;
}
#subtitle {
  color:  rgb(173, 169, 169);
  display: inline;
  font-family: "Arizonia";
}
.navigation {
  /* background-color: rgb(247, 211, 217); */
  color: #ddb813;
  display: inline;
  padding-top: 20px;
  margin-left: 285px;
}
a:link {
  text-decoration: none;
  color: #777777;
}
a:visited {
  text-decoration: none;
  color: #777777;
}
a:hover {
  background-color: rgb(189, 129, 189);
  color: white;
}
@media screen and (min-width: 769px) and (max-width: 980px) {
  #title {
    position: static;
    float: left;
    display: block;
  }
  #subtitle {
    text-align: left;
    margin-top: 30px;
    position: static;
    left: 0;
    display: block;
    float: left;
  }
  .navigation {
    min-width: 100%;
    margin-left: 10px;
    padding-top: 5px;
    margin-top: 40px;
    position: static;
    left: 0;
    display: block;
  }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  #title {
    position: static;
    left: 0;
    display: block;
    margin-left: -300px;
    padding-left: 20px;
  }
  #subtitle {
    text-align: left;
    margin-bottom: 5px;
    position: static;
    left: 1;
    display: block;
    float: left;
    margin-top: -75px;
    margin-left: 310px;
    padding-bottom: 55px;
    padding-top: 15px;
    background-color: white;
    padding-left: 20px;
    padding-right: 40px;
  }
  .navigation {
    min-width: 100%;
    margin-left: 0px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    position: static;
    left: 0;
    display: block;
    margin-top: -40px;
    text-align: center;
    float: left;
  }
}
@media screen and (max-width: 640px) {
  #title {
    position: static;
    left: 0;
    display: block;
    margin-bottom: 100px;
  }
  #subtitle {
    text-align: left;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: absolute;
    top: 70px;
    left: 0;
    display: block;
  }
  .navigation {
    min-width: 100%;
    margin-left: 0px;
    text-align: left;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 200px;
    left: 0;
    display: block;
  }
}
