.App {
    background-image: url(../src/assets/Pic/birdtrees.GIF);
    background-size: cover;
    background-attachment: fixed;
  }
  
  #mepic {
    height: 420px;
    display: block;
    margin: auto;
  }
  
  .video-container {
    width: 400px;
    height: 400px;
  }
  
  /* .book {
    background-color: honeydew;
    width: 600px;
    height: 500px;
  }
  
  .code {
    background-color: rgb(189, 225, 236);
    width: 600px;
    height: 500px;
    float: center;
  }
  .code {
    background-color: rgb(240, 194, 234);
    width: 600px;
    height: 500px;
    float: center;
  } */
  
  .contactbox {
    max-width: 1072px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(247, 221, 225, 0.85);
    color: #333333;
    border-radius: 10px;
  }
  
  .contactboxP {
    width: 680px;
    height: 2509px auto;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(247, 221, 225, 0.85);
    color: #333333;
    border-radius: 10px;
  }
  .contactboxC{
    width: 680px;
    height: 2509px auto;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(247, 221, 225, 0.85);
    color: #333333;
    border-radius: 10px;
  }
  
  
  .modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .close-btn {
    font-size: 20px;
    float: right;
    margin-right: 20px;
    position: relative;
  }
  
  label {
    width: 150px;
    display: block;
    margin-top: 10px;
  }
  
  input {
    height: 20px;
  }
  
  input,
  textarea {
    width: 350px;
    margin-bottom: 10px;
  }
  
  #submitBtn {
    padding: 10px;
    background-color: rgb(189, 129, 189);
    color: #ffffff;
    font-size: 20px;
    height: auto;
  }

.link{
  fontWeight: "bold"
}